<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true">
    <testsuites>
        <testsuite name="PokéAPI Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>